
.container{
  border: 1px solid;

  .collumns{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;

    margin: 6% 3% 0;

    .col{
      border: 1px solid;
    }
  }
}
