<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h1>{{title}}</h1>
      <p>Recent Chats</p>
    </div>
    <div class="card-button">
      <button type="button">Create New Chat</button>
    </div>

  </div>
  <div class="card-body">
    <app-box>
      <div class="search">
        <a href="#">Messages <i class="shape"></i></a>
      </div>
    </app-box>
    <app-box>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repellendus minus provident natus saepe maxime, fuga sunt dolorem vero impedit. Quaerat omnis sit quia fugiat eos non architecto, veniam eius! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus consectetur, ipsum a doloremque alias ex iure quam rerum ea debitis reiciendis maxime nesciunt delectus ullam, beatae consequuntur blanditiis officiis neque!
    </app-box>
  </div>
</div>
