@import '../../../../colors/colors';

.card{

  .card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1{

    font-size: 36px;
    line-height: 26px;
    font-weight: 500;
  }
  p{
    color: #707C97;
    font-size: 18px;
    line-height: 26px;
    margin-top: 15px;
    font-weight: bold;
  }
  button{
    width: 240px;
    height: 60px;
    background: $primary-btn;
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    transition: 1s;

    &:hover{

      background: $primary-btn-hover;
    }
  }

  .card-body{

    .search{
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 100%;
      border-left: 2px solid #F5F4FB;

      a {
        text-decoration: none;
        color: #707C97;
        font-weight: bold;
        font-size: 18px;
        display: flex;
        align-items: center;

        i {
          display: inline-block;
          width: 8px;
          height: 8px;
          background-repeat: no-repeat!important;
          background-size: 22px 20px;
          padding-left: 17px;
          margin-left: 9px;
          margin-top: 7px;

          &.shape{
            background: url('../../../../assets/Shape.svg');
          }
        }
      }
    }
  }
}
