@import '../../../../colors/colors';

.box-content{
  min-height: 70px;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 20px;
  padding: 33px;
  box-shadow: 6px 6px 40px rgba(9, 46, 85, 0.15);
}
