<div class="sidebar">
  <div class="content">
    <div class="profile">
      <div class="logo">
        <img src="assets/profile.jpeg" alt="">
      </div>
      <div class="name">
        <a href="">Bonfim Justino do Nascimento</a>
      </div>
    </div>
    <div class="menu">
      <ul>
        <a href="#">
          <i class="home"></i>
          <li>Home</li>
        </a>
        <a href="#">
          <i class="chat"></i>
          <li>Chat</li>
        </a>
        <a href="#">
          <i class="person"></i>
          <li>Contact</li>
        </a>
        <a href="#">
          <i class="notification"></i>
          <li>Notifications</li>
        </a>
        <a href="#">
          <i class="calendar"></i>
          <li>Calendar</li>
        </a>
        <a href="">
          <i class="settings"></i>
          <li>Settings</li>
        </a>
      </ul>
    </div>
  </div>
</div>
